$light: #341405;
$grey: #b34212;
$light-green: #d46419;
$font: "Roboto Mono", monospace;

body {
  background-color: $light;
  font-family: $font;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $light;
  h1 {
    font-size: 12px;
    color: $grey;
    font-weight: 400;
    letter-spacing: 1px;
  }
  #password {
    background-color: $grey;
    padding: 0.5rem;
    font-size: 16px;
    font-weight: 500;

  }
  #content {
    display: flex;
    flex-direction: column;
    background-color: $grey;
    padding: 1rem;
    label {
      font-size: 10px;
    }
    #button-generate {
      background-color: $light-green;
      color: $light;
      border: none;
      padding: 6px;
      font-family: $font;
      letter-spacing: 2px;
    }
    #button-generate:hover {
      background-color: $light;
      color: $grey;
    }
  }
}